body {
  background:#FFC0CB;
}

h1 {
  color: #F5FFFA;
  font-family: 'Redressed', cursive;
  font-size: 70px;
  text-align: center;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-footer {
  margin: 30px 0;
  color: white;
  text-align: center;
}

.App-footer a {
  color: white;
  
}

.App-footer a:hover {
  color: black;
}

.App main {
  text-align: center;
}